html {}

body {
    background-image: url("https://lh3.googleusercontent.com/DfPLuh7dSRO6JoH9hjEjRyykHXw9a7Mrxg8vmVgVnUugfUplnhP1DW3hwgIxAXcuSVQSoL5PzohJLqh_3jl1DSEj4VasHnYShARvCAji1lOojtA891hWEVZRT0pYU_BWxhSkVEHDStr3JdHNnsM76bu7YSp3kkzIvNwSR4SoRZnGy3IhCgmLWDAeMYOVgelz3dNc4OiFhTuS3OVz8SrwHYrcWpyLB8wcIbh-N-ZkCrv61pgu5V6NR70W0Y_eAHgQy9lHJfARXM8s4gFzcUZ43U2Ivl3_WFDHd5TKAyc8nFQUq8opil42xHrWJGJgM3sPowdoIAqWgJrklGEQalgx1767GqDmHxVrJPS_cbmTe9XCdgOoEwF1felHyuj-att_rhaVB1ub5ZqnFf9zFKoPVld6PTrVMIGO2ofAxq-jCTw1wcsQFG5fh8qw5tJ2_asbiKlR041cGRcJTLJBlltvIWjgJmOuGY2OwpyayTd4yrMFDF5yF34rnVV6HBMo0BIzcJc2TG8-9-QDssJeLbveESoEowuHfeDh8RGvVvfhSPqZMMZyu82nxWspUqB52_dIbUUEMMbNRlw5_AbnK1a5GUPbgRkX-fZB9sFX1i1TFc6ogCQTRzsU8Q=w1394-h204-no");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}


/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}