<div class="section" id="about">
    <div class="container">
        <div class="h4 text-center mb-4 title">About</div>

      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card-body">
              <p>Hey! I'm <strong>Marisa Bernard</strong>.  Currently I am AEM Developer and also have expertise with Angular8 ,Django,Python, Java and front end . Done few live projects and portfolio work in above.Won the best student award 3 times at college.Also won Devang Mehta IT awards which is one of biggest event of Gujurat in which Best Student of Year of college get awards.Maintained above 9.57 cgpa.</p>


              <p>
                Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.
              </p> 
                
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>