<div class="section" id="about">
    <div class="container">
        <div class="h4 text-center mb-4 title">About</div>

      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card-body">
             <p>Hey! I'm Marisa Bernard, a detail-oriented software developer with 8+ years of broad technical experience, looking to learn and master skills in software development and technical project management.  </p>
             <p>I am notoriously known for being a technical jack of all trades because I love learning a little bit about everything.  I enjoy both software development and IT repair, and these skills have given me great ability to diagnose, troubleshoot, and solve all kinds of problems, even including non-technical ones.   </p>
             <p>I am a compassionate team player in both my professional life when I get a group of developers on the same page as the business leads, and in my personal life when I get my adventuring party to complete a dangerous quest in my Dungeons & Dragons campaign.</p>
             <!-- <p>I am known for being a technical jack of all trades due to my professional skill with development and my personal hobby of technical repair. </p> -->
             <!-- <p>I am an eager learner and a compassionate team player from organizing chaotic development projects in my professional life to playing with chaotic friends in Dungeons & Dragons campaigns in my personal life.</p> -->
              <!-- <p>Though my main focus through the years has been software development, the last few years I have been building my business and leadership skills by becoming the development lead on my development team, project manager of a technical development project, and even program lead of a summer internship program that I designed and executed.  </p> -->
              <!-- <p>
                 I have broadened my skills into areas such as business and leadership by designing and executing a summer internship program, as well as becoming the technical lead and project manager for several development teams and projects. I am looking to learn and master skills in software development and technical project management.  I am an eager learner and a compassionate team player from working through the night to fix bugs in production environments in my professional life, to playing together with friends in Dungeons & Dragons campaigns in my personal life.
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>