<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Show Me A Show</a>
      </div>
      <form class="navbar-form navbar-left" name="search-form" role="search">
        <div class="form-group">
          <button class="btn btn-default" (click)="showService.addNewShow()"><span class="glyphicon glyphicon-plus"> </span> &nbsp; Add new show</button>
          <button class="btn btn-default" (click)="showService.loadAllShows()"><span class="glyphicon glyphicon-download"> </span> &nbsp; Load all shows</button>
            <input type="text" class="form-control" name="show-to-search" [(ngModel)]="showToSearch" />
          <button class="btn btn-default" (click)="showService.loadShowById(showToSearch)"><span class="glyphicon glyphicon-download"> </span> &nbsp; Load show</button>
        </div>
      </form>
    </div>
  </nav>
  <div class="container">
    <div *ngFor="let show of showService.shows">
      <div class="show panel panel-default" >
          <button class="btn btn-success" (click)="showService.saveShow(show)"><span class="glyphicon glyphicon-save"> </span> &nbsp; Save</button>
          <button class="btn btn-danger" (click)="showService.deleteShow(show)"><span class="glyphicon glyphicon-trash"> </span> &nbsp; Delete</button>
          <h3>({{show._id}}) <input [(ngModel)]="show.title" /></h3>
      </div>
    </div>
  </div>