<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">NG2 Show system</a>
      </div>
      <form class="navbar-form navbar-left" name="search-form" role="search">
        <div class="form-group">
          <button class="btn btn-default" (click)="showService.addNewShow()"><span class="glyphicon glyphicon-plus"> </span> &nbsp; Add new show</button>
          <button class="btn btn-default" (click)="showService.loadAllShows()"><span class="glyphicon glyphicon-download"> </span> &nbsp; Load all shows</button>
            <input type="text" class="form-control" name="show-to-search" [(ngModel)]="showToSearch" />
          <button class="btn btn-default" (click)="showService.loadShowById(showToSearch)"><span class="glyphicon glyphicon-download"> </span> &nbsp; Load show</button>
        </div>
      </form>
    </div>
  </nav>
  <div class="container">
    <div *ngFor="let show of showService.shows">
      <div class="show panel panel-default" >
        <div class="panel-body" ng-class="show.percentageComplete == '100' ? 'well' : ''">
          <button class="btn btn-success" (click)="showService.saveShow(show)"><span class="glyphicon glyphicon-save"> </span> &nbsp; Save</button>
          <button class="btn btn-danger" (click)="showService.deleteShow(show)"><span class="glyphicon glyphicon-trash"> </span> &nbsp; Delete</button>
          <h3>({{show._id}}) <input [(ngModel)]="show.title" /></h3>
          <span class="assigned-to">Assigned to: <input [(ngModel)]="show.assignedTo" /></span>
          <span class="percentage-complete">Completed %: <input [(ngModel)]="show.percentageComplete" /></span><br />
          <textarea [(ngModel)]="show.description" class="description"></textarea>
        </div>
      </div>
    </div>
  </div>
<!--<div class="container">
  <div class="container" *ngFor="let show of allShows">
    <pre class="container show panel panel-default">{{show | json}} </pre>
  </div>
</div>-->