<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2009 - 2013</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Science, Information Technology</div>
               <h4 class="category">St. Francis College
               </h4>
               <ul>
                <li>Completed B.S in Information Technology with <b>3.4 GPA</b>.</li>
                <li>Received the full <b>Presidential Scholarship</b> for all four years.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>