<main role="main">
 <div class="jumbotron col-lg-12">
    <div class="col-lg-2"> 
      <img class="bio-photo" src="assets/bio-photo.jpeg">
    </div>
    <div class="col-lg-4">
        <h1>Marisa Bernard</h1>
        <h3>Software Developer &middot; IBM</h3>
        <h4>St. Francis College &middot; Information Technology</h4>
        <h5>New York, NY</h5>
    </div>
    <div class="col-lg-6">
      <p>Obsessed with television, technology, and books.</p>

      <p>Currently working at IBM as a Software Developer creating web and mobile applications on the cloud.</p>

      <ul> 
        <li><a href=""><img src="assets/email-icon.jpeg">MLBernard91@gmail.com</a></li>
        <li><a href=""><img src="assets/linkedin-icon.jpeg">LinkedIn</a></li>
        <li><a href=""><img src="assets/twitter-icon.jpeg">Twitter</a></li>
      </ul>
    </div>
  </div>
  <div class="container col-lg-12">
    <div class="col-lg-4 center">
      <h3>Skills & Expertise</h3>
    </div>
    <div class="col-lg-4 center">
      <h3>Portfolio of Projects</h3>
    </div>
    <div class="col-lg-4 center">
      <h3>Something Else</h3>
    </div>
  </div>
  <div class="container col-lg-12">
    <div class="col-lg-12 center">
      <h3>Resume</h3>
      <div class="col-lg-12 center">
        Bio Information
      </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12 center">
            Skills & Expertise
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12 center">
            Work Experience
        </div>
    </div>
  </div>
</main>
    