<main role="main">
 <div class="jumbotron col-lg-12">
    <div class="col-lg-2"> 
      <img class="bio-photo center" src="assets/bio-photo.jpeg">
    </div>
    <div class="col-lg-4">
        <h1>Marisa Bernard!</h1>
        <h3>Software Developer &middot; IBM</h3>
        <h4>St. Francis College &middot; Information Technology</h4>
        <h5>New York, NY</h5>
    </div>
    <div class="col-lg-6 center">
      <p>Obsessed with television, technology, and books.</p>

      <p>Currently working at IBM as a Software Developer creating web applications on the cloud.</p>

      <br>
      <br>
      <br>
      <ul class="col-lg-12"> 
        <li class="col-lg-4"><a href="mailto:mlbernard91@gmail.com"><img class="social-icon" src="assets/email-icon.png">Email</a></li>
        <li class="col-lg-4"><a href=""><img class="social-icon" src="assets/linkedin-icon.png">LinkedIn</a></li>
        <li class="col-lg-4"><a href=""><img class="social-icon" src="assets/twitter-icon.png">Twitter</a></li>
      </ul>
    </div>
  </div>
  <div class="container col-lg-12">
    <div class="col-lg-4 center">
      <div class="card custom-card center">
          <div class="card-body">
            <h4 class="card-title left">Skills & Expertise</h4>
            <div class="col-lg-6">
            <ul class="vertical-list left">
              <li>NodeJS</li>
              <li>Angular</li>
              <li>Bootstrap</li>
            </ul>
          </div>
          <div class="col-lg-6">
              <ul class="vertical-list left ">
                <li>NodeJS</li>
                <li>Angular</li>
                <li>Bootstrap</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-4 center">
        <div class="card custom-card center">
            <div class="card-body">
              <h4 class="card-title left">Portfolio of Projects</h4>
              <div class="col-lg-12">
                <ul class="col-lg-12 vertical-list left">
                  <li>marisabernard</li>
                  <li>quantumleap</li>
                  <li>showmetv</li>
                  <li>putirasworkshop</li>
                </ul>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4 center">
        <div class="card custom-card center">
            <div class="card-body">
              <h4 class="card-title left">Something Else</h4>
            </div>
          </div>
    </div>
  </div>
  <div class="container col-lg-12">
      <div class="col-lg-10 offset-lg-1 card resume-container">
          <div class="card-body">
            <h3 class="card-title center">Resume</h3>
            <div class="col-lg-12 center">
                <div class="col-lg-12 center">
                  Bio Information
                </div>
              </div>
              <div class="col-lg-12">
                  <div class="col-lg-12 center">
                      Skills & Expertise
                  </div>
              </div>
              <div class="col-lg-12">
                  <div class="col-lg-12 center">
                      Work Experience
                  </div>
              </div>
          </div>
        </div>
  </div>
</main>
    