/* You can add global styles to this file, and also import other style files */
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 2.5rem;
}

.navbar {
    border-radius:0px;
}

.container {
    margin: 0 auto;
}

.center {
    margin:0 auto;
    text-align: center;
}

ul {
    margin:0px;
    padding:0px;
    list-style: none;
}

ul li {
    margin:0px;
    padding:0px;
    display:inline-block;
}