<main role="main" class="col-lg-12">
   <div class="col-lg-12 center">
      <h1 class="header">Welcome To Putira's Workshop!</h1>
   </div>
   <div class="col-lg-12">
   <div class="col-lg-6">
      <iframe class="embedded-video" src="https://www.youtube.com/embed/OQmcKEFdatc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      <div class="col-lg-12 aboutus">
          <img class="col-lg-3 sean-and-christina center" src="assets/sean-and-christina.PNG"> 
          <p class="col-lg-9">
            <br>
            Putira's Workshop was officially created in February 2017 by Sean Putira and his wife Christina. 
            Though it may have originally started just as a hobby, it has grown into so much more and has become a lifestyle. 
          </p>
      </div>
    </div>
    <div class="col-lg-6">         
        <div class="aboutpw  col-lg-12">
          <br>
            <p class="col-lg-12">
              The goal of Putira's Workshop is to give our followers and customers the feeling that they are working with a local game store. 
              We hope to provide help with your card, accessory, and deck building needs, as well as just being a resource to simply chat about MTG.
            </p>
            <p class="col-lg-12">
              Follow us as we travel across the US searching for those little known, hidden gem gamestores to see how the Magic Community 
              changes across the country. 
            </p>
            <p class="col-lg-12">Don't forget, if you spot us at a Grand Prix, local gamestore, or wandering your town sporting our Putira’s Workshop Shirts, 
              take, upload, and tag the picture with @PutirasWorkshop on Twitter for 10% off any purchase and 
              the chance to win Putira’s Workshop gear and accessories. 
            </p>
          </div>
          <div class="extra-links col-lg-12">
          <div class="social-links col-lg-12 center">
              <a href="https://facebook.com/putirasworkshop"><img class="social-link" src="https://image.flaticon.com/icons/png/512/124/124010.png"></a>
              <a href="https://instagram.com/putirasworkshop"><img class="social-link" src="assets/instagram-icon.PNG"></a>
              <a href="https://twitter.com/putirasworkshop"><img class="social-link" src="https://image.flaticon.com/teams/slug/twitter.jpg"></a>
          </div>
          <div class="social-links col-lg-12 center">
              <a href="">Contact Us</a>
          </div>
          <div class="social-links col-lg-12 center">
              <a href="https://www.youtube.com/channel/UCsIY8VL_Syd5mTAGVNikU0Q"><img class="social-link"src="assets/exoticMTG.PNG">Check out Exotic MTG for sealed product opening and Patron Giveaways!</a>
          </div>
        </div>
    </div>
  </div>
</main>
    