<div class="resume-container">
    <div class="contact-content">
        <div class="containerX">
            <div fxLayout="row wrap" class="flex-row">
                <div fxFlex="33.33%" class="contact-picture flex-column"> <img class="contact-image" src="https://lh3.googleusercontent.com/xcA-qUSMQtPL9AxdUa3K53m9OXpIyn4lJg9QtqwVHTJJLaIjnVU47ZSBzZzaClUPQTpMdJnNrpoGxZRBbQXR7D5CG69Ec5bKZFbCTnlBk17XqbfZjFN5fnNsV78lecm4pxHEs4FARa_ReMGYGFoUNQz5l-KjenY-_IC-nlEhSnGt5RRl9WE_M-Mi_35i9YufEDuPIQafSYfq4b_LSlVal1WevCPBVCGdtHnAY6PAZnUW4t_k50kBnDfgJIUDASwa8MsLcIEytm2bNpGoGUjyTg1N3YrRBY-zaHtV4KRKN8s0hQe8gg8osvh2ENKH6vzyPZrrncrakbeeLhfE-RtT8B_TLDOGgXx0CC6Bc0_DaDfSXFl2Q1UX_GCLy2kyU4PP7Ks27fT_C9AhFIwIP0DZEC0VzNvE4PB-M7LyUtosVcDgE4Bc4Qqxw-djiOH8eny--HXbaCNZe1bVsZq--_4Iv_d_DQADDKAqqZjcJZlQE98YxrW_4kjgEFDRQ--AZhuRTatqcxdqtF23FweMqDgYaEqgOEqeKYguqfBr2v2uYO22KUGK010jBiE_H9x-uJwo5VyE1i0Jk9IpurVg3SFmH2xpk2UZo8mT--pxubnAIUK4JNIq5PbrUA=s400-no">                    </div>
                <div fxFlex="66.66%" class="contact-info flex-column">
                    <div class="name">Marisa Bernard!!</div>
                    <div class="job-title">Software Developer</div>
                    <br>
                    <div> MLBernard91@gmail.com</div>
                    <div><button md-button color="primary">Link</button></div>
                    <div><button md-button color="primary">Link</button></div>
                    <div><button md-button color="primary">Link</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bio-content">
        <div class="containerX">
            <div fxLayout="row wrap" class="flex-row">
                <div fxFlex="100%" class="bio-info flex-column">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div fxLayout="row wrap" class="flex-row bio-buttons">
                    <div fxFlex="33%" class="button flex-column">
                        <button md-raised-button color="primary">button 1</button>
                    </div>
                    <div fxFlex="33%" class="button flex-column">
                            <button md-raised-button color="primary">button 1</button>
                        </div>
                        <div fxFlex="33%" class="button flex-column">
                                <button md-raised-button color="primary">button 1</button>
                     </div>
                </div>
        </div>
    </div>
    <div class="resume-content">
        <div class="containerX">
            <div fxLayout="row wrap" class="flex-row">
                <div fxFlex="100%" class="resume-title flex-column">
                    Resume
                </div>
            </div>
            <div fxLayout="row wrap" class="flex-row">
                    <div fxFlex="100%" class="resume-info flex-column">
                        Resume Info 
                    </div>
                </div>
        </div>
    </div>
</div>