<div class="resume-container">        
    <div class="containerX">
        <div fxLayout="row" class="">                
            <div fxFlex="30%">                      
                <img class="bio-picture" md-card-image src="https://lh3.googleusercontent.com/O87dZs3nRb-tjDvLJqgAlkW0swXRQCUqpGAahpUNDkHQ8G-c3UVVhxmz4QaFwpbgxtMOw2yIFN93jsJmwCurbbK0r54FMQxpgXGBsSaSKni0H8oaBfSNdgar6n--FwWpOVvbwYZ51ICkH8cEEUTdi2vTAH7oJ8v5Mv84ZcNU5LkA02NGGE8ZKaAA4VJP5ciZyYRITuAQKkFAr08QeX0wXQUMmpxrMahYaWTyugau6-hm1WObTh55cESOgBy9vGC1EzkNsTWSEqEFlMyJZwMSmJE8aE4GoFWkFyvcRmCwvGKSsTmaGqlqpAAd50dh-aQgIo5yGn8LV-_YEttf7992f7LBgyiTl79GQlvvfahc6DBE-m3vqForRdMobifuoLtIczoCWx3auSefBtyw6WF7nPtwbeP-O0h0JUSbcEglJOpVUQHvct4qc_0maaUzQres-saCIbiB_sZQ9c136pxyINQGIMVhjo17wF0H-crSTUyV-RclaQlh4G_O4qDkdjuEdpFDWFTe3HoS120RyFOFyuNxEmeAwNR3PXZm9QKJcc1RJlTpAd74iGdA7KJpN-6f9BgQQMT1xXoeWUZmO6avBH767zFe_SeHNkfS3czUU1W2zrttkYD9MA=s400-no">      
            </div>
            <div fxFlex="70%">   
                <p class="bio-text">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>  
                <br>
                <p class="bio-text">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>  
            </div>
        </div>          
    </div>
    <div class="containerX">
        <div fxLayout="row" class="flex-row">                
            <div fxFlex="33%" class="flex-column">  
                <md-card>Skills</md-card>                    
            </div>
            <div fxFlex="33%" class="flex-column" >   
                <md-card>Education</md-card> 
            </div>
            <div fxFlex="33%" class="flex-column">   
                    <md-card>Experience</md-card>   
            </div>
        </div>    
        <div fxLayout="row" class="flex-row">                
            <div fxFlex="33%" class="flex-column">  
                <md-card>Certifications</md-card>                    
            </div>
            <div fxFlex="33%" class="flex-column">   
                <md-card>Work Projects</md-card> 
            </div>
            <div fxFlex="33%" class="flex-column">   
                <md-card>Personal Projects</md-card>   
            </div>
        </div>      
    </div>
</div>